<h1>Welcome to the Employee Portal</h1><br><br>
<h2>To file a reimbursement, please log in.</h2><br>
<form>
   <input type="text" id="username" maxlength="12" pattern="^[a-zA-Z][a-zA-Z0-9]*$"
      title="Usernames shall start with a letter and contain only alphanumeric characters." placeholder="Username"
      autofocus [(ngModel)]="username" name='username'>
   <input type="text" id="password" maxlength="32" title="Password shall be no longer than 32 characters in length."
      placeholder="Password" [(ngModel)]='password' name='password'>
   <button type="submit" id="submit" (click)="validateCredentials()">Submit</button>
</form>